 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<title>Vacunas</title>

</head>
<body>

<div class="container">
  <h2>Pacientes  <button type="button" class="btn btn-success">Nuevo</button></h2>
  <button type="button" class="btn btn-info">Vacunas</button>

   <form class="form-inline" action="" method="POST">
	  <div class="form-group">
	    <label for="paciente">Paciente</label>
	    <input type="text" class="form-control" id="paciente" name="paciente" value="{{ paciente }}">
	  </div>
	  <div class="form-group">
	    <label for="vacuna">Vacuna</label>
	    <input type="text" class="form-control" id="vacuna" name="vacuna" value="{{ vacuna }}">
	  </div>
	  <button type="submit" class="btn btn-default">Consultar</button>
	</form> 
	<br>
  <table class="table table-hover" id="myTable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>RUN</th>
        <th>Fecha Nacimiento</th>
        <th>Vacunas</th>
      </tr>
    </thead>
    <tbody>
      {% for pacientes in paciente %}
        <tr>
          <td>{{ paciente['nombre'] }}</td>
          <td>{{ paciente['rut'] }}</td>
          <td>{{ paciente['fecha_nacimiento'] }}</td>
          <td>
          	<a target="_blank" >Agregar</a>
            <a target="_blank" >Ver</a>
          </td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
<script type="text/javascript">
  $(document).ready( function () {
    $('#myTable').DataTable();
  });
</html> 